.contato__ae {
    height: auto;
    background-image: url("../assets/fundo-red.jpg");
}

.local__ae {
    height: 500px;
    margin: 0;
    padding: 0;
}

.nav__ae {
    background-color: #155e9d;
    ;
}

.vermelho {
    color: #D10B0B !important;
    font-weight: bold;
}

li, a {
    font-size: 13px;
    color: rgb(51, 51, 51) !important;
}

a:hover {
    text-decoration: none;
    color: #D10B0B !important;
}

.logo__ae img{
    width: 2rem;
    height: 2rem;
}

.header__ae {
    padding-top: 30px;
    background-image: url("../assets/banner.png");
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
}

.header__ae img {
    width: 1rem;
    height: 1rem;
}

.none__ae {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.none2__ae {
    display: none;
}

.fundo__ae {
    background-color: rgb(218, 217, 216);
    border-radius: 30px !important;
}
.carousel-margin__ae {
    height: 290px;
}

.carousel-margin2__ae {
    height: 265px;
}

.carousel__ae {
    z-index: 999;
    padding-top: 60px;

}

.carousel-text__ae {
    padding: 20px 100px;
}

.carousel-indicador__ae {
    padding: 4px;
    border-radius: 5px !important;
}

h2 {
    text-transform: uppercase;
    font-size: 18pt;
}

h3 {
    text-transform: uppercase;
    color: #ffffff !important;
    font-weight: bold;
}

.header-bottom__ae {
    background-image: url("../assets/fundo-red.jpg");
    height: auto;
    margin-top: -130px;
    color: #ffffff !important;
    font-weight: bold;
}

.header-bottom__ae img {
    width: 2rem;
    height: 2rem;
}

.header-img__ae {
    width: 1rem !important;
    height: 1rem !important;
}

.header-link__ae {
    color: #D10B0B !important;
    font-size: 18pt;
}

.header-link2__ae {
    color: #ffffff !important;
    font-size: 18pt;
    background-color: #D10B0B !important;
}

.contato-link__ae, .contato-link__ae:hover  {
    color: #ffffff !important;
    font-size: 15pt;
    background-color: #D10B0B !important;
}

.contato-link__ae img{
   width: 3px;
   height: 3px;
}


.header-link2__ae:hover {
    color: #ffffff !important;
}

.bottom__ae {
    border-right: 4px solid #fff;
}

.info-link3__ae img {
    width: 1rem;
    height: 1rem;
}

.parceiros__ae {
    background-color: #f6f6f6;
}

.parceiros-satelite__ae img{
    width: 12rem;
    height: 5rem;
}

.parceiros-premium__ae img {
    width: 11rem;
    height: 4rem;
}

#map {
    height: 75%;
    width: 90%;
    border-radius: 5px;
}

.contato__ae img{
    width: 2rem;
    height: 2rem;
}

.footer__ae {
    background-color: #155e9d;
}

/* INSCRIÇÕES */

.header-inscricoes__ae {
    height: auto;
    padding-top: 30px;
    background-image: url("../assets/fundo-red.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header-inscricoes__ae img {
    width: 1rem;
    height: 1rem;
}

.ingressos-info__ae a:hover {
    color: #ffffff !important;
}

.anima {
    opacity: 0;
    transform: translate3d(-100px,0,0);
    
}

.anima2, .anima3, .anima4 {
    opacity: 0;
}

@media (max-width: 425px) 
{
    .none__ae {
        display: none !important;
    }

    .none2__ae {
        display: flex !important;
        justify-content: center;
        align-items: center;
    } 

    .none3__ae {
        display: none !important;
    }

    .bottom__ae {
        border-bottom: 4px solid #fff;
    }
}

@media (max-width: 768px) 
{
    .nav-menu_ae li {
        border-bottom: 1px solid #ffffff;
    }

    .header__ae {
        height: 445px;
    }

    .nav-none__ae {
        display: none !important;
    }

    .none2__ae {
        display: none !important;
    }

    .header-bottom__ae {
        background-image: none;
        background-color: #D10B0B;
        height: auto;
        margin-top: 0;
        color: #ffffff !important;
        font-weight: bold;
    }

    .bottom__ae {
        border-right: none;
        border-bottom: 4px solid #fff;
    }

}
